#hot{
	 display: none;
	 min-width: 100%;
	 text-align: center;
	 margin: 0 auto;
}

#warm{
	display: none;
}

#mild{
	display: none;
}

#cold{
	 display: none;
	 min-width: 100%;
	 text-align: center;
	 margin: 0 auto;
	 padding-top: 10px;
	 padding-bottom: 10px;
}

#demo{
	
  font-weight: 800;
  padding: 30px 0;
  height: 150px;
  width: 150px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px;



}

#clothes{
  
  
  min-width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;

}

.formSubmit{

	
	border: 1px;
	border-radius: 25px;

}


.sectionOne{

background-color: #C8FFF8;
width: 100%;
padding-top: 32px;
padding-bottom: 32px;
opacity: 30%;
	
}

.sectionTwo{

	min-width: 100%;
	padding-top: 64px;
	opacity: 30%;
}

.emailForm{
	display: none;
	background-color: #9AFFF5;
	min-width: 100%;
	height: 100px;
	padding-top: 64px;
	opacity: 30%;
}


